@charset "UTF-8";
th{
    background-color: lightslategray;
}
td{
    background-color: gray;
}
.bg-red{
    background-color: red;
}
th{
    color: white;
}
span{
    font-size: 10px;
}
tr,th{
    padding: 5%;
}

.deka {
    size: 30px;
}